<%= form_for(@presupuesto) do |f| %>
  <% if @presupuesto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@presupuesto.errors.count, "error") %> prohibited this presupuesto from being saved:</h2>

      <ul>
      <% @presupuesto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <%= f.label :codigoalg %><br>
      ALG-2018-
      <%= f.text_field :codigoalg, class:"form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :cliente_id %><br>
      <%= f.text_field :cliente_id, class:"form-control" %>
      <%= link_to 'Cambiar el cliente' ,edit_cliente_path(:cliente_id), class:"btn btn-sm btn-primary" %>
    </div>
    <div class="form-group">
      <%= f.label :referencia %><br>
      <%= f.text_field :referencia, class:"form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :series %><br>
      <%= f.text_field :series, class:"form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :acabado %><br>
      <%= f.text_field :acabado, class:"form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :importe %>
      <%= f.text_field :importe, class:"form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :estado %><br>
      <!--<%= f.text_field :estado, class:"form-control" %> -->
      <%= f.radio_button(:estado, "PENDIENTE") %>
      <%= label_tag(:estado_pendiente, "Pendiente") %> <br />
      <%= f.radio_button(:estado, "OK") %>
      <%= label_tag(:estado_ok, "OK") %> <br />
      <%= f.radio_button(:estado, "RECALCULO") %>
      <%= label_tag(:estado_recalculo, "Recálculo") %> <br />
      <%= f.radio_button(:estado, "WAIT") %>
      <%= label_tag(:estado_esperando, "Esperando") %> <br />

    </div>
    <div id="name" class="form-group">
        <%= f.label :etiquetas %><br />
        <%= f.select(:etiquetas, [["Cálculo", 1],["A limpio", "A limpio"],["Recálculo", "Recalculo"]]) %>
    </div>

    <div class="form-group">
      <%= f.submit class:"btn btn-primary" %>
    </div>

  </div>
</div>

<% end %>
