<div class="center">
	<div class="row">
		<div class="col-sm-10">
			<h3>Listado de Presupuestos</h3>
			<p>Ordenados por fecha de m&aacute;s actuales a m&aacute;s antiguos</p>
		</div>
		<div class="col-sm-2">
			<%= link_to 'Nuevo Presupuesto', new_presupuesto_path, class:"btn btn-md btn-primary" %> <br /><br />
		</div>
	</div>		

	<div class="row">
		<table class="table table-bordered">
		<tr>
		  <td>C&oacute;digo</td>
		  <td>Referencia</td>
		  <td>Cliente</td>
		  <td>Estado</td>
		  <td>Fecha IN</td>
		  <td>Acciones</td>
		</tr>
		<% @presupuestos.each do |presupuesto| %>
		<tr>
			<td><%= link_to presupuesto.codigoalg, presupuesto, class:"btn btn-link" %></td>
		    <td><%= presupuesto.referencia %></td>
		    <td><%= presupuesto.cliente.nombre %></td>
			<td><% if !presupuesto.estado.blank? %>
                <% sss = presupuesto.estado %>
                    <span class="label label-<%= sss.to_str.downcase == 'ok' ? 'success' : 'danger' %>"><%= sss %></span>
                <% end %>
            </td>
		  	<td><%= presupuesto.created_at.to_formatted_s(:short) %></td>
		  	<td>
		    	<%= link_to 'Edit', edit_presupuesto_path(presupuesto), class:"btn btn-link" %>
		    	<%= link_to 'Destroy', presupuesto, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-link" %>
			</td>
		</tr>
		<% end %>
		</table>

		<nav>
		<%= will_paginate @presupuestos %>
		</nav>
		</div>

</div>