<p id="notice"><%= notice %></p>
<h1><%= @presupuesto.codigoalg %></h1>
<div class="row">
    <div class="col-sm-6">
        <table class="table table-bordered">
            <tr>
                <td><strong>Codigo ALG</strong></td>
                <td><%= @presupuesto.codigoalg %></td>
            </tr>
            <tr>
                <td><strong>Fecha IN</strong></td>
                <td><%= @presupuesto.created_at.to_formatted_s(:short) %></td>
            </tr>
            <tr>
                <td><strong>Cliente</strong></td>
                <td><%= @cliente %></td>
            </tr>
            <tr>
                <td><strong>Estado</strong></td>
                <td><%= @presupuesto.estado %></td>
            </tr>
            <tr>
                <td><strong>Referencia</strong></td>
                <td>  <%= @presupuesto.referencia %></td>
            </tr>
            <tr>
                <td><strong>Series:</strong></td>
                <td><%= @presupuesto.series %></td>
            </tr>
            <tr>
                <td><strong>Acabado:</strong></td>
                <td><%= @presupuesto.acabado %></td>
            </tr>
        
        </table>
        
        <table class="table table-bordered">
            <tr>
                <td><strong>Etiquetas</strong>: <%= @presupuesto.etiquetas %></td>
            </tr>
        </table>

    </div>
    <div class="col-sm-4 col-md-offset-1"> 
        <h3>Actividad del presupuesto <%= @presupuesto.codigoalg %></h3>
        <% if @todos.blank? %>
        <h1>No hay notas</h1>
        <% else %>
            <table class="table table-hover">
                </tr>
                    <% @todos.each do |todo| %>
                        <tr>
                            <td><%= todo.created_at.nil? ? "..." : todo.created_at.to_formatted_s(:short) %> / <%= todo.texto %></td>
                        </tr>
                    <% end %>

            </table>
        <%end %>
        <%= link_to "Añadir Nota", new_presupuesto_todo_path(@presupuesto), class:"btn btn-success" %>
    </div>
</div>

<%= link_to 'Edit', edit_presupuesto_path(@presupuesto), class:"btn btn-link" %> |
<%= link_to 'Back', presupuestos_path, class: 'btn btn-link' %>
