<p id="notice"><%= notice %></p>

<div class="row">
    <div class="col-sm-6">
        <table class="table table-bordered">
            <tr>
                <td><strong>Codigo ALG</strong></td>
                <td><%= @presupuesto.codigoalg %></td>
            </tr>
            <tr>
                <td><strong>Fecha IN</strong></td>
                <td><%= @presupuesto.created_at.to_formatted_s(:short) %></td>
            </tr>
            <tr>
                <td><strong>Cliente</strong></td>
                <td></td>
            </tr>
            <tr>
                <td><strong>Estado</strong></td>
                <td><%= @presupuesto.estado %></td>
            </tr>
        </table>
        
        <table class="table table-bordered">
            <tr>
                <td><strong>Referencia</strong></td>
                <td>  <%= @presupuesto.referencia %></td>
            </tr>
            <tr>
                <td><strong>Series:</strong></td>
                <td><%= @presupuesto.series %></td>
            </tr>
            <tr>
                <td><strong>Acabado:</strong></td>
                <td><%= @presupuesto.acabado %></td>
            </tr>
        
        </table>
        
        <span><strong>Etiquetas</strong>: 
            <%= @presupuesto.etiquetas %>
        </span>

        <h3>Todo's</h3>
        <table class="table table-hover">
            <tr>
                <td>Fecha</td>
                <td>Texto</td>
            </tr>
                <% @todos.each do |todo| %>
                    <tr>
                        <td><%= todo.created_at.nil? ? "..." : todo.created_at.to_formatted_s(:short) %></td>
                        <td><%= todo.texto %></td>
                    </tr>
                <% end %>

        </table>
    </div>

</div>

<%= link_to 'Edit', edit_presupuesto_path(@presupuesto), class:"btn btn-link" %> |
<%= link_to 'Back', presupuestos_path %>
