<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">B2</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Presupuestos
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to 'Nuevo Presupuesto', new_presupuesto_path, class: "dropdown-item" %>
          <a class="dropdown-item" href="/presupuestos">Listado</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/historico.html">Hist&oacute;rico</a>
        </div>
      </li>

      <% if user_signed_in? %>
        <!-- Ventas -->
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" dadta-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Ventas / Pedidos
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "Editar cuenta", edit_user_registration_path, class: "dropdown-item" %>
            <%= link_to "Log out",  destroy_user_session_path, :method => :delete, class: "dropdown-item" %>
          </div>
        </li>

        <!-- Mi cuenta -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Mi cuenta
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "Editar cuenta", edit_user_registration_path, class: "dropdown-item" %>
            <%= link_to "Log out",  destroy_user_session_path, :method => :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Mi cuenta
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "Login", new_user_session_path, class: "dropdown-item" %>
            <%= link_to "Registro", new_user_registration_path, class: "dropdown-item" %>
          </div>
      <% end %>
    </ul>

    <%= form_tag presupuestos_path, :method => :get, class: "form-inline my-2 my-lg-0" do %>
        <%= text_field_tag :search, params[:search], class: "form-control mr-sm-2" %>
        <%= button_tag "Buscar", :name => nil, type: "submit", class: "btn btn-outline-success my-2 my-sm-0" %>
    <% end %>

  </div>
</nav>
